<form #form="ngForm" clrForm clrLayout="horizontal">
  <app-autofield [field]="fields.street" [(entity)]="address"></app-autofield>
  <app-autofield [field]="fields.zip" [(entity)]="address"></app-autofield>
  <app-autofield [field]="fields.city" [(entity)]="address"></app-autofield>
  <app-autofield [field]="fields.country" [(entity)]="address"></app-autofield>
  <app-autofield [field]="fields.street" [(entity)]="address"></app-autofield>
  <app-autofield [field]="fields.addressType!" [(entity)]="address"></app-autofield>
</form>
