<ng-container *ngIf="customer">
  <div cds-layout="horizontal gap:md align:left">
    <h1>Kunden bearbeiten</h1>

    <div cds-layout="align:right align:vertical-center">
      <button
        [routerLink]="[
          '/customers/',
          customer.id ? customer.id.toString() : 'overview'
        ]"
        type="button"
        class="btn btn-icon btn-outline"
        aria-label="cancel-edit-customer"
      >
        Änderungen verwerfen
        <cds-icon shape="floppy"></cds-icon>
      </button>
      <button
        (click)="saveChanges()"
        [disabled]="form?.form?.invalid"
        type="button"
        class="btn btn-icon btn-success"
        aria-label="save-customer"
      >
        Änderungen speichern
        <cds-icon shape="floppy"></cds-icon>
      </button>
    </div>
  </div>

  <main>
    <form #form="ngForm" clrForm clrLayout="horizontal">
      <h3>Personendaten</h3>
      <app-autofield
        [field]="fields.salutation!"
        [(entity)]="customer"
      ></app-autofield>
      <app-autofield
        [field]="fields.firstname"
        [(entity)]="customer"
      ></app-autofield>
      <app-autofield
        [field]="fields.lastname"
        [(entity)]="customer"
      ></app-autofield>
      <h3>Anschrift</h3>
      <app-autofield
        [field]="fields.street"
        [(entity)]="customer"
      ></app-autofield>
      <app-autofield [field]="fields.zip" [(entity)]="customer"></app-autofield>
      <app-autofield
        [field]="fields.city"
        [(entity)]="customer"
      ></app-autofield>
      <app-autofield
        [field]="fields.country"
        [(entity)]="customer"
      ></app-autofield>
      <!-- <app-autofield
        [field]="fields.archived"
        [(entity)]="customer"
        helperText="Soll der Kunde archiviert sein?"
      ></app-autofield> -->
    </form>
  </main>
</ng-container>
