<form #form="ngForm" clrForm clrLayout="horizontal" style="display: flex">
  <app-autofield
    style="flex: 1"
    [field]="fields.name"
    [(entity)]="item"
    [showLabel]="false"
  ></app-autofield>

  <app-autofield
    style="flex: 1"
    [field]="fields.quantity"
    [(entity)]="item"
    [showLabel]="false"
  ></app-autofield>
  <app-autofield
    style="flex: 1"
    [field]="fields.amountType!"
    [(entity)]="item"
    [showLabel]="false"
  ></app-autofield>

  <app-autofield
    style="flex: 1"
    [field]="fields.price"
    [(entity)]="item"
    [showLabel]="false"
  ></app-autofield>
  <app-autofield
    style="flex: 1"
    [field]="fields.vat"
    [(entity)]="item"
    [showLabel]="false"
  ></app-autofield>

  <app-autofield
    style="flex: 1"
    [field]="fields.discount"
    [(entity)]="item"
    [showLabel]="false"
  ></app-autofield>
  <app-autofield
    style="flex: 1"
    [field]="fields.discountType!"
    [(entity)]="item"
    [showLabel]="false"
  ></app-autofield>

  <div style="flex: 1">
    {{ item.total | currency : "EUR" }}
  </div>

  <button
    class="btn btn-sm btn-link"
    style="flex: 1"
    type="button"
    (click)="parent.deleteRelationItem('items', item)"
  >
    <cds-icon shape="times"></cds-icon>
  </button>
</form>

<!-- <div class="card-footer">
        <button
          class="btn btn-sm btn-link"
          style="color: var(--cds-alias-status-danger)"
          (click)="parent.deleteRelationItem('items', item)"
        >
          Position entfernen
        </button>
      </div> -->
