<ng-container *ngIf="entity">
  <div cds-layout="horizontal gap:md align:left">
    <h1>{{ 'company' | translate }}: {{ entity.displayName }}</h1>

    <div cds-layout="align:right align:vertical-center">
      <button
        type="button"
        class="btn btn-icon btn-outline"
        aria-label="delete-company"
        [routerLink]="['/crm/overview']"
      >
        <cds-icon shape="view-list"></cds-icon>{{ 'overview' | translate }}
      </button>
      <button
        type="button"
        class="btn btn-icon btn-danger"
        aria-label="delete-company"
        (click)="confirmDelete()"
      >
        <cds-icon shape="trash"></cds-icon>{{ 'deleteCustomer' | translate }}
      </button>
      <a
        [routerLink]="['./edit']"
        type="button"
        class="btn btn-icon btn-primary"
        aria-label="add-company"
      >
        <cds-icon shape="pencil"></cds-icon>{{ 'editCustomer' | translate }}
      </a>
    </div>
  </div>

  <main>
    <table class="table table-vertical">
      <tbody>
        <tr>
          <th>{{ 'company' | translate }}</th>
          <td>{{ entity.name }}</td>
        </tr>
        <tr>
          <th>{{ 'customerNumber' | translate }}</th>
          <td>{{ entity.customerNumber }}</td>
        </tr>
        <tr>
          <th>{{ 'createdAt' | translate }}</th>
          <td>{{ entity.createdAt | date: "short" }} Uhr</td>
        </tr>
      </tbody>
    </table>

    <app-address-view *ngFor="let address of entity.addresses" [address]="address" [entity]="entity"></app-address-view>
  </main>

  <clr-modal
    [(clrModalOpen)]="showConfirmDeleteModal"
    [clrModalStaticBackdrop]="false"
  >
    <h3 class="modal-title">{{ 'deleteCustomer' | translate }}</h3>
    <div class="modal-body">
      <b>{{ 'warning' | translate }}</b>
      <p>{{ 'confirmDeleteCompany' | translate: { entity: entity.name } }}</p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline"
        (click)="showConfirmDeleteModal = false"
      >
        {{ 'no' | translate }}
      </button>
      <button type="button" class="btn btn-danger" (click)="delete()">
        {{ 'yes' | translate }}
      </button>
    </div>
  </clr-modal>
</ng-container>
