<ng-container *ngIf="entity">
  <div cds-layout="horizontal gap:md align:left">
    <h1>{{ 'editPerson' | translate }}</h1>

    <div cds-layout="align:right align:vertical-center">
      <button
        [routerLink]="
          entity.id ? ['/crm/person', entity.id.toString()] : ['/crm/overview']
        "
        type="button"
        class="btn btn-icon btn-outline"
        aria-label="cancel-edit-person"
      >
        <cds-icon shape="undo"></cds-icon>{{ 'discardChanges' | translate }}
      </button>
      <button
        (click)="saveChanges()"
        [disabled]="form?.form?.invalid"
        type="button"
        class="btn btn-icon btn-success"
        aria-label="save-person"
      >
        <cds-icon shape="floppy"></cds-icon>{{ 'saveChanges' | translate }}
      </button>
    </div>
  </div>

  <main>
    <form #form="ngForm" clrForm clrLayout="horizontal">
      <h3>{{ 'personData' | translate }}</h3>
      <ng-container *ngIf="featureFlags.showSalutation">
        <app-autofield
          [field]="fields.salutation!"
          [(entity)]="entity"
          [label]="'salutation' | translate"
        ></app-autofield>
      </ng-container>
      <ng-container *ngIf="featureFlags.showFirstname">
        <app-autofield
          [field]="fields.firstname"
          [(entity)]="entity"
          [label]="'firstname' | translate"
        ></app-autofield>
      </ng-container>
      <ng-container *ngIf="featureFlags.showLastname">
        <app-autofield
          [field]="fields.lastname"
          [(entity)]="entity"
          [label]="'lastname' | translate"
        ></app-autofield>
      </ng-container>
      <ng-container *ngIf="featureFlags.showCustomerNumber">
        <app-autofield
          [field]="fields.customerNumber"
          width="400px"
          [(entity)]="entity"
          [placeholder]="previewCustomerNumber"
          [label]="'customerNumber' | translate"
        ></app-autofield>
      </ng-container>
      <ng-container *ngIf="featureFlags.showBirthdate">
        <app-autofield
          [field]="fields.birthdate"
          [(entity)]="entity"
          [label]="'birthdate' | translate"
        ></app-autofield>
      </ng-container>
      <h3>Anschrift</h3>
      <!-- TODO ADD COMPOENNT FOR ADDRESS-->
      <!-- <app-autofield
        [field]="fields.archived"
        [(entity)]="person"
        helperText="Soll der Kunde archiviert sein?"
      ></app-autofield> -->
    </form>
    <div cds-layout="m-t:xl">
      <clr-tabs>
        <clr-tab *ngIf="featureFlags.showAddresses">
          <button clrTabLink>{{ 'address' | translate }}</button>
          <clr-tab-content *clrIfActive="true">
            <ng-container *ngFor="let address of entity.addresses">
              <app-address-edit
                [address]="address"
                [parent]="instance"
              ></app-address-edit>
            </ng-container>
            <button
              cds-layout="m-t:md"
              (click)="createRelationItem('addresses')"
              type="button"
              class="btn btn-outline"
              aria-label="add-address"
            >
              <cds-icon shape="plus"></cds-icon> Adresse hinzufügen
            </button>
          </clr-tab-content>
        </clr-tab>
        <clr-tab *ngIf="featureFlags.showContactDetails">
          <button clrTabLink>{{ 'contactDetails' | translate }}</button>
          <clr-tab-content *clrIfActive>
            <p cds-text="body" cds-layout="m-t:md">TODO</p>
          </clr-tab-content>
        </clr-tab>
        <clr-tab *ngIf="featureFlags.showPaymentInformation">
          <button clrTabLink>{{ 'paymentInformation' | translate }}</button>
          <clr-tab-content *clrIfActive>
            <p cds-text="body" cds-layout="m-t:md">TODO</p>
          </clr-tab-content>
        </clr-tab>
        <clr-tab *ngIf="featureFlags.showConditions">
          <button clrTabLink>{{ 'conditions' | translate }}</button>
          <clr-tab-content *clrIfActive>
            <p cds-text="body" cds-layout="m-t:md">TODO</p>
          </clr-tab-content>
        </clr-tab>
        <clr-tab *ngIf="featureFlags.showAdditional">
          <button clrTabLink>{{ 'additional' | translate }}</button>
          <clr-tab-content *clrIfActive>
            <p cds-text="body" cds-layout="m-t:md">TODO</p>
          </clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div>
  </main>
</ng-container>
