<ng-container *ngIf="entity">
  <div cds-layout="horizontal gap:md align:left">
    <h1>Firma bearbeiten</h1>

    <div cds-layout="align:right align:vertical-center">
      <button
        [routerLink]="
          entity.id ? ['/crm/person', entity.id.toString()] : ['/crm/overview']
        "
        type="button"
        class="btn btn-icon btn-outline"
        aria-label="cancel-edit-person"
      >
        <cds-icon shape="undo"></cds-icon>Änderungen verwerfen
      </button>
      <button
        (click)="saveChanges()"
        [disabled]="form?.form?.invalid"
        type="button"
        class="btn btn-icon btn-success"
        aria-label="save-person"
      >
        <cds-icon shape="floppy"></cds-icon>Änderungen speichern
      </button>
    </div>
  </div>

  <main>
    <form #form="ngForm" clrForm clrLayout="horizontal">
      <h3>Personendaten</h3>
      <app-autofield
        [field]="fields.salutation!"
        [(entity)]="entity"
      ></app-autofield>
      <app-autofield
        [field]="fields.firstname"
        [(entity)]="entity"
      ></app-autofield>
      <app-autofield
        [field]="fields.lastname"
        [(entity)]="entity"
      ></app-autofield>
      <h3>Anschrift</h3>
      <!-- TODO ADD COMPOENNT FOR ADDRESS-->
      <!-- <app-autofield
        [field]="fields.archived"
        [(entity)]="person"
        helperText="Soll der Kunde archiviert sein?"
      ></app-autofield> -->
    </form>
    <div cds-layout="m-t:xl">
      <clr-tabs>
        <clr-tab>
          <button clrTabLink>Adresse</button>
          <clr-tab-content *clrIfActive="true">
              <app-address-edit *ngFor="let address of entity.addresses"
                [address]="address"
                [parent]="instance"
              ></app-address-edit>
            <button
              cds-layout="m-t:md"
              (click)="createRelationItem('addresses')"
              type="button"
              class="btn btn-outline"
              aria-label="add-address"
            >
              <cds-icon shape="plus"></cds-icon> Adresse hinzufügen
            </button>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Kontaktdetails</button>
          <clr-tab-content *clrIfActive>
            <p cds-text="body" cds-layout="m-t:md">TODO</p>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Zahlungsinformationen</button>
          <clr-tab-content *clrIfActive>
            <p cds-text="body" cds-layout="m-t:md">TODO</p>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Konditionen</button>
          <clr-tab-content *clrIfActive>
            <p cds-text="body" cds-layout="m-t:md">TODO</p>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Weiteres</button>
          <clr-tab-content *clrIfActive>
            <p cds-text="body" cds-layout="m-t:md">TODO</p>
          </clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div>
  </main>
</ng-container>
