<div cds-layout="horizontal gap:md align:left">
  <h1>{{ 'customerOverview' | translate }}</h1>

  <!-- <button [routerLink]="['/crm/person', 'new', 'edit']"
    cds-layout="align:right align:vertical-center"
    type="button"
    class="btn btn-icon btn-primary"
    aria-label="add-customer"
  >
    Kunden hinzufügen
    <cds-icon shape="plus"></cds-icon>
  </button> -->

  <clr-dropdown cds-layout="align:right align:vertical-center">
    <button class="btn btn-primary" clrDropdownTrigger>
      <cds-icon shape="angle" direction="down"></cds-icon>{{ 'addCustomer' | translate }}
    </button>
    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
      <div *ngIf="featureFlags.enablePersonCreation"
        aria-label="Person"
        clrDropdownItem
        style="font-size: 20px"
        cds-layout="p-y:xs"
        [routerLink]="['/crm/person', 'new', 'edit']"
      >
        <cds-icon size="md" shape="id-badge"></cds-icon>{{ 'person' | translate }}
      </div>
      <div *ngIf="featureFlags.enableCompanyCreation"
        aria-label="Firma"
        clrDropdownItem
        style="font-size: 20px"
        cds-layout="p-y:xs"
        [routerLink]="['/crm/company', 'new', 'edit']"
      >
        <cds-icon size="md" shape="building"></cds-icon>{{ 'company' | translate }}
      </div>
    </clr-dropdown-menu>
  </clr-dropdown>
</div>

<main>
  <clr-datagrid>
    <clr-dg-column *ngIf="featureFlags.showIdColumn" style="width: 20px">{{ 'id' | translate }}</clr-dg-column>
    <clr-dg-column *ngIf="featureFlags.showTypeColumn" style="width: 120px" [clrDgField]="'displayName'">{{ 'type' | translate }}</clr-dg-column>
    <clr-dg-column *ngIf="featureFlags.showNameColumn" [clrDgField]="'customerType'">{{ 'name' | translate }}</clr-dg-column>
    <clr-dg-column *ngIf="featureFlags.showCreatedAtColumn" style="width: 200px" [clrDgField]="'createdAt'" [(clrDgSortOrder)]="sortOrder">{{ 'createdAt' | translate }}</clr-dg-column>
    <clr-dg-column *ngIf="featureFlags.showUpdatedAtColumn" style="width: 200px" [clrDgField]="'updatedAt'">{{ 'updatedAt' | translate }}</clr-dg-column>
    <clr-dg-row
      *clrDgItems="let customer of customers"
      [clrDgItem]="customer"
      (click)="openCustomer(customer)"
    >
      <clr-dg-cell *ngIf="featureFlags.showIdColumn" style="width: 20px">
        <clr-tooltip>
          <cds-icon
            clrTooltipTrigger
            [attr.shape]="customer.customerType === 'Person' ? 'id-badge' : 'building'"
            size="18"
            (click)="copyCustomerId(customer.id)"
          ></cds-icon>
          <clr-tooltip-content [clrSize]="'md'">
            {{ customer.id }}
          </clr-tooltip-content>
        </clr-tooltip>
      </clr-dg-cell>
      <clr-dg-cell *ngIf="featureFlags.showTypeColumn">{{ customer.customerType.toLowerCase() | translate }}</clr-dg-cell>
      <clr-dg-cell *ngIf="featureFlags.showNameColumn">{{ customer.displayName }}</clr-dg-cell>
      <clr-dg-cell *ngIf="featureFlags.showCreatedAtColumn">{{ customer.createdAt | date : "short" }} Uhr</clr-dg-cell>
      <clr-dg-cell *ngIf="featureFlags.showUpdatedAtColumn">{{ customer.updatedAt | date : "short" }} Uhr</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{ customers.length }} {{ 'customers' | translate }}</clr-dg-footer>
  </clr-datagrid>
</main>
