<div cds-layout="horizontal gap:md align:left">
  <h1>Kundenübersicht</h1>

  <!-- <button [routerLink]="['/crm/person', 'new', 'edit']"
    cds-layout="align:right align:vertical-center"
    type="button"
    class="btn btn-icon btn-primary"
    aria-label="add-customer"
  >
    Kunden hinzufügen
    <cds-icon shape="plus"></cds-icon>
  </button> -->

  <clr-dropdown cds-layout="align:right align:vertical-center">
    <button class="btn btn-primary" clrDropdownTrigger>
      <cds-icon shape="angle" direction="down"></cds-icon>Kunden hinzufügen
    </button>
    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
      <div
        aria-label="Person"
        clrDropdownItem
        style="font-size: 20px"
        cds-layout="p-y:xs"
        [routerLink]="['/crm/person', 'new', 'edit']"
      >
        <cds-icon size="md" shape="id-badge"></cds-icon>Person
      </div>
      <div
        aria-label="Firma"
        clrDropdownItem
        style="font-size: 20px"
        cds-layout="p-y:xs"
        [routerLink]="['/crm/company', 'new', 'edit']"
      >
        <cds-icon size="md" shape="building"></cds-icon>Firma
      </div>
    </clr-dropdown-menu>
  </clr-dropdown>
</div>

<main>
  <clr-datagrid>
    <clr-dg-column style="width: 20px">ID</clr-dg-column>
    <clr-dg-column style="width: 120px" [clrDgField]="'displayName'"
      >Typ</clr-dg-column
    >
    <clr-dg-column [clrDgField]="'customerType'">Name</clr-dg-column>
    <clr-dg-column
      style="width: 200px"
      [clrDgField]="'createdAt'"
      [(clrDgSortOrder)]="sortOrder"
      >Erstellt am</clr-dg-column
    >
    <clr-dg-column style="width: 200px" [clrDgField]="'updatedAt'"
      >Aktualisiert am</clr-dg-column
    >
    <clr-dg-row
      *clrDgItems="let customer of customers"
      [clrDgItem]="customer"
      (click)="openCustomer(customer)"
    >
      <clr-dg-cell style="width: 20px"
        ><clr-tooltip>
          <cds-icon
            clrTooltipTrigger
            [attr.shape]="
              customer.customerType === 'Person' ? 'id-badge' : 'building'
            "
            size="18"
            (click)="copyCustomerId(customer.id)"
          ></cds-icon>
          <clr-tooltip-content [clrSize]="'md'">
            {{ customer.id }}
          </clr-tooltip-content>
        </clr-tooltip></clr-dg-cell
      >
      <clr-dg-cell>{{ customer.customerType }}</clr-dg-cell>
      <clr-dg-cell>{{ customer.displayName }}</clr-dg-cell>
      <clr-dg-cell>{{ customer.createdAt | date : "short" }} Uhr</clr-dg-cell>
      <clr-dg-cell>{{ customer.updatedAt | date : "short" }} Uhr</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{ customers.length }} Kunden</clr-dg-footer>
  </clr-datagrid>
</main>
