<div cds-layout="horizontal gap:md align:left" *ngIf="customer">
  <h1>Kunde: {{ customer.firstname }} {{ customer.lastname }}</h1>

  <div cds-layout="align:right align:vertical-center">
    <button
    type="button"
    class="btn btn-icon btn-outline"
    aria-label="delete-customer"
    [routerLink]="['/customers/overview']"
  >
    Übersicht
    <cds-icon shape="view-list"></cds-icon>
  </button>
    <button
      type="button"
      class="btn btn-icon btn-danger"
      aria-label="delete-customer"
      (click)="confirmDelete()"
    >
      Kundenlöschen
      <cds-icon shape="trash"></cds-icon>
    </button>
    <a
      [routerLink]="['/customers/', customer.id.toString(), 'edit']"
      type="button"
      class="btn btn-icon btn-primary"
      aria-label="add-customer"
    >
      Kunden bearbeiten
      <cds-icon shape="pencil"></cds-icon>
    </a>
  </div>
</div>

<main *ngIf="customer">
  <table class="table table-vertical">
    <tbody>
      <tr>
        <th>Person</th>
        <td>{{customer.salutation}} {{customer.firstname}} {{customer.lastname}} </td>
      </tr>
      <tr>
        <th>Anschrift</th>
        <td>{{customer.street}} <br/>{{customer.zip}} {{customer.city}}<br/>{{customer.country}} </td>
      </tr>
      <tr>
        <th>Erstellt am</th>
        <td>{{ customer.createdAt | date : "short" }} Uhr</td>
      </tr>
    </tbody>
  </table>
</main>

<clr-modal
  [(clrModalOpen)]="showConfirmDeleteModal"
  [clrModalStaticBackdrop]="false"
>
  <h3 class="modal-title">Kunden löschen</h3>
  <div class="modal-body">
    <b>Achtung!</b>
    <p>
      Soll der Kunde '{{ customer?.firstname }} {{ customer?.lastname }}'
      wirklich gelöscht werden?
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="showConfirmDeleteModal = false"
    >
      Nein
    </button>
    <button type="button" class="btn btn-danger" (click)="deleteCustomer()">
      Ja
    </button>
  </div>
</clr-modal>
