<ng-container *ngIf="entity">
  <div cds-layout="horizontal gap:md align:left">
    <h1>{{ 'editInvoice' | translate }}</h1>

    <!-- Keep the commented-out code -->
    <!-- <div cds-layout="align:right align:vertical-center">
      <button
        [routerLink]="
          entity.customerId ? ['/crm/person', entity.id.toString()] : ['/crm/overview']
        "
        type="button"
        class="btn btn-icon btn-outline"
        aria-label="cancel-edit-person"
      >
        <cds-icon shape="undo"></cds-icon>{{ 'discardChanges' | translate }}
      </button>
      <button
        (click)="saveChanges()"
        [disabled]="form?.form?.invalid"
        type="button"
        class="btn btn-icon btn-success"
        aria-label="save-person"
      >
        <cds-icon shape="floppy"></cds-icon>{{ 'saveChanges' | translate }}
      </button>
    </div> -->
  </div>

  <main>
    <form #form="ngForm" clrForm clrLayout="horizontal">
      <h3>{{ 'contactAndBillingInfo' | translate }}</h3>
      <app-autofield
        [field]="fields.address!"
        width="350px"
        [(entity)]="entity"
      ></app-autofield>
      <app-autofield
        [field]="fields.subject"
        width="700px"
        [(entity)]="entity"
      ></app-autofield>
      <app-autofield
        [field]="fields.invoiceNumber"
        width="150px"
        [(entity)]="entity"
        [placeholder]="previewInvoiceNumber"
      ></app-autofield>

      <app-autofield
        [field]="fields.invoiceDate"
        width="400px"
        [(entity)]="entity"
      ></app-autofield>

      <app-autofield
        [field]="fields.reference"
        width="300px"
        [(entity)]="entity"
      ></app-autofield>

      <h3>{{ 'headerText' | translate }}</h3>
      <app-autofield
        [field]="fields.headerText"
        rows="5"
        [(entity)]="entity"
      ></app-autofield>

      <h3>{{ 'products' | translate }}</h3>

      <div style="display: flex; flex-direction: column;">
        <div
          style="
            display: flex;
            padding: 6px;
          "
        >
          <label style="flex:1">{{ 'productOrService' | translate }}</label>
          <label style="flex:1">{{ 'quantity' | translate }}</label>
          <label style="flex:1">{{ 'quantityType' | translate }}</label>
          <label style="flex:1">{{ 'price' | translate }}</label>
          <label style="flex:1">{{ 'tax' | translate }}</label>
          <label style="flex:1">{{ 'discount' | translate }}</label>
          <label style="flex:1">{{ 'discountType' | translate }}</label>
        </div>
        <app-invoice-item-edit
          *ngFor="let item of entity.items"
          [item]="item"
          [parent]="instance"
        ></app-invoice-item-edit>
      </div>

      <button
        cds-layout="m-t:md"
        (click)="createRelationItem('items')"
        type="button"
        class="btn btn-outline"
        aria-label="add-address"
      >
        <cds-icon shape="plus"></cds-icon> {{ 'addAddress' | translate }}
      </button>
      <h3>{{ 'footerText' | translate }}</h3>
      <app-autofield
        [field]="fields.footerText"
        [(entity)]="entity"
        rows="5"
      ></app-autofield>
      <!-- TODO ADD COMPOENNT FOR ADDRESS-->
      <!-- <app-autofield
        [field]="fields.archived"
        [(entity)]="person"
        helperText="Soll der Kunde archiviert sein?"
      ></app-autofield> -->
    </form>
    <!-- <div cds-layout="m-t:xl">
      <clr-tabs>
        <clr-tab>
          <button clrTabLink>Adresse</button>
          <clr-tab-content *clrIfActive="true">
              <app-address-edit *ngFor="let address of entity.addresses"
                [address]="address"
                [parent]="instance"
              ></app-address-edit>
            <button
              cds-layout="m-t:md"
              (click)="createRelationItem('addresses')"
              type="button"
              class="btn btn-outline"
              aria-label="add-address"
            >
              <cds-icon shape="plus"></cds-icon> Adresse hinzufügen
            </button>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Kontaktdetails</button>
          <clr-tab-content *clrIfActive>
            <p cds-text="body" cds-layout="m-t:md">TODO</p>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Zahlungsinformationen</button>
          <clr-tab-content *clrIfActive>
            <p cds-text="body" cds-layout="m-t:md">TODO</p>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Konditionen</button>
          <clr-tab-content *clrIfActive>
            <p cds-text="body" cds-layout="m-t:md">TODO</p>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Weiteres</button>
          <clr-tab-content *clrIfActive>
            <p cds-text="body" cds-layout="m-t:md">TODO</p>
          </clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div> -->
  </main>
</ng-container>
