<ng-container *ngIf="entity">
  <div cds-layout="horizontal gap:md align:left">
    <h1>{{ 'person' | translate }}: {{ entity.displayName }}</h1>

    <div cds-layout="align:right align:vertical-center">
      <button
        type="button"
        class="btn btn-icon btn-outline"
        aria-label="delete-person"
        [routerLink]="['/crm/overview']"
      >
        {{ 'overview' | translate }}
        <cds-icon shape="view-list"></cds-icon>
      </button>
      <button
        type="button"
        class="btn btn-icon btn-danger"
        aria-label="delete-person"
        (click)="confirmDelete()"
      >
        {{ 'deleteCustomer' | translate }}
        <cds-icon shape="trash"></cds-icon>
      </button>
      <a
        [routerLink]="['./edit']"
        type="button"
        class="btn btn-icon btn-primary"
        aria-label="add-person"
      >
        {{ 'editCustomer' | translate }}
        <cds-icon shape="pencil"></cds-icon>
      </a>
    </div>
  </div>

  <main>
    <table class="table table-vertical">
      <tbody>
        <tr *ngIf="featureFlags.personView.showPerson">
          <th>{{ 'person' | translate }}</th>
          <td>{{entity.salutation}} {{entity.firstname}} {{entity.lastname}} </td>
        </tr>
        <tr *ngIf="featureFlags.personView.showCustomerNumber">
          <th>{{ 'customerNumber' | translate }}</th>
          <td>{{entity.customerNumber}}</td>
        </tr>
        <tr *ngIf="featureFlags.personView.showCreatedAt">
          <th>{{ 'createdAt' | translate }}</th>
          <td>{{ entity.createdAt | date : 'medium' }} Uhr</td>
        </tr>
        <tr *ngIf="featureFlags.personView.showBirthdate">
          <th>{{ 'birthdate' | translate }}</th>
          <td>{{ entity.birthdate | date : 'mediumDate' }}</td>
        </tr>
      </tbody>
    </table>
    <ng-container *ngIf="featureFlags.personView.showAddresses">
      <app-address-view *ngFor="let address of entity.addresses" [address]="address" [entity]="entity"></app-address-view>
    </ng-container>
  </main>

  <clr-modal
    [(clrModalOpen)]="showConfirmDeleteModal"
    [clrModalStaticBackdrop]="false"
  >
    <h3 class="modal-title">{{ 'deleteCustomer' | translate }}</h3>
    <div class="modal-body">
      <b>{{ 'warning' | translate }}</b>
      <p>
        {{ 'confirmDeletePerson' | translate: { firstname: entity.firstname, lastname: entity.lastname } }}
      </p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline"
        (click)="showConfirmDeleteModal = false"
      >
        {{ 'no' | translate }}
      </button>
      <button type="button" class="btn btn-danger" (click)="delete()">
        {{ 'yes' | translate }}
      </button>
    </div>
  </clr-modal>
</ng-container>
