<clr-vertical-nav [clrVerticalNavCollapsible]="true">
  <clr-vertical-nav-group routerLinkActive="active">
    <cds-icon shape="user" clrVerticalNavIcon></cds-icon>
    {{ 'navigation.customers' | translate }}
    <clr-vertical-nav-group-children>
      <ng-container *ngIf="featureFlags.navigation.showCustomerOverview">
        <a
          clrVerticalNavLink
          routerLink="./crm/overview"
          routerLinkActive="active"
          >{{ 'navigation.customerOverview' | translate }}</a
        >
      </ng-container>
      <ng-container *ngIf="featureFlags.navigation.showNewInvoice">
        <a
          clrVerticalNavLink
          routerLink="./om/invoice/new"
          routerLinkActive="active"
          >{{ 'navigation.newInvoice' | translate }}</a
        >
      </ng-container>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
  <clr-vertical-nav-group routerLinkActive="active">
    <cds-icon shape="flame" clrVerticalNavIcon></cds-icon>
    {{ 'navigation.fire' | translate }}
    <clr-vertical-nav-group-children>
      <a
        clrVerticalNavLink
        routerLink="./fire/charmander"
        routerLinkActive="active"
        >{{ 'navigation.charmander' | translate }}</a
      >
      <a
        clrVerticalNavLink
        routerLink="./fire/charizard"
        routerLinkActive="active"
        >{{ 'navigation.charizard' | translate }}</a
      >
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
  <clr-vertical-nav-group routerLinkActive="active">
    <cds-icon shape="bolt" clrVerticalNavIcon></cds-icon>
    {{ 'navigation.electric' | translate }}
    <clr-vertical-nav-group-children>
      <a
        clrVerticalNavLink
        routerLink="./electric/pikachu"
        routerLinkActive="active"
        >{{ 'navigation.pikachu' | translate }}</a
      >
      <a
        clrVerticalNavLink
        routerLink="./electric/raichu"
        routerLinkActive="active"
        >{{ 'navigation.raichu' | translate }}</a
      >
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="./credit">
    <cds-icon shape="certificate" clrVerticalNavIcon></cds-icon>
    {{ 'navigation.credit' | translate }}
  </a>
</clr-vertical-nav>
<div class="content-area"><router-outlet /></div>
