<ng-container *ngIf="entity">
  <div cds-layout="horizontal gap:md align:left">
    <h1>{{ 'editCompany' | translate }}</h1>

    <div cds-layout="align:right align:vertical-center">
      <button
        [routerLink]="
          entity.id ? ['/crm/company', entity.id.toString()] : ['/crm/overview']
        "
        type="button"
        class="btn btn-icon btn-outline"
        aria-label="cancel-edit-company"
      >
        <cds-icon shape="undo"></cds-icon>{{ 'discardChanges' | translate }}
      </button>
      <button
        (click)="saveChanges()"
        [disabled]="form?.form?.invalid || hasInvalidForms()"
        type="button"
        class="btn btn-icon btn-success"
        aria-label="save-company"
      >
        <cds-icon shape="floppy"></cds-icon>{{ 'saveChanges' | translate }}
      </button>
    </div>
  </div>

  <main>
    <form #form="ngForm" clrForm clrLayout="horizontal">
      <h3>{{ 'companyData' | translate }}</h3>
      <ng-container *ngIf="featureFlags.companyEdit.showNameField">
        <app-autofield
          [field]="fields.name"
          width="400px"
          [(entity)]="entity"
          [label]="'company' | translate"
        ></app-autofield>
      </ng-container>
      <ng-container *ngIf="featureFlags.companyEdit.showCustomerNumberField">
        <app-autofield
          [field]="fields.customerNumber"
          width="400px"
          [(entity)]="entity"
          [placeholder]="previewCustomerNumber"
          [label]="'customerNumber' | translate"
        ></app-autofield>
      </ng-container>
    </form>
    <div cds-layout="m-t:xl">
      <clr-tabs>
        <clr-tab *ngIf="featureFlags.companyEdit.showAddresses">
          <button clrTabLink>{{ 'address' | translate }}</button>
          <clr-tab-content *clrIfActive="true">
            <app-address-edit *ngFor="let address of entity.addresses"
              [address]="address"
              [parent]="instance"
            ></app-address-edit>
            <button
              cds-layout="m-t:md"
              (click)="createRelationItem('addresses')"
              type="button"
              class="btn btn-outline"
              aria-label="add-address"
            >
              <cds-icon shape="plus"></cds-icon> {{ 'addAddress' | translate }}
            </button>
          </clr-tab-content>
        </clr-tab>
        <clr-tab *ngIf="featureFlags.companyEdit.showContactDetails">
          <button clrTabLink>{{ 'contactDetails' | translate }}</button>
          <clr-tab-content *clrIfActive>
            <p cds-text="body" cds-layout="m-t:md">TODO</p>
          </clr-tab-content>
        </clr-tab>
        <clr-tab *ngIf="featureFlags.companyEdit.showPaymentInformation">
          <button clrTabLink>{{ 'paymentInformation' | translate }}</button>
          <clr-tab-content *clrIfActive>
            <p cds-text="body" cds-layout="m-t:md">TODO</p>
          </clr-tab-content>
        </clr-tab>
        <clr-tab *ngIf="featureFlags.companyEdit.showConditions">
          <button clrTabLink>{{ 'conditions' | translate }}</button>
          <clr-tab-content *clrIfActive>
            <p cds-text="body" cds-layout="m-t:md">TODO</p>
          </clr-tab-content>
        </clr-tab>
        <clr-tab *ngIf="featureFlags.companyEdit.showAdditional">
          <button clrTabLink>{{ 'additional' | translate }}</button>
          <clr-tab-content *clrIfActive>
            <p cds-text="body" cds-layout="m-t:md">TODO</p>
          </clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div>
  </main>
</ng-container>
