<ng-container *ngIf="entity">
  <div cds-layout="horizontal gap:md align:left">
    <h1>Firma bearbeiten</h1>

    <div cds-layout="align:right align:vertical-center">
      <button
        [routerLink]="
          entity.id ? ['/crm/company', entity.id.toString()] : ['/crm/overview']
        "
        type="button"
        class="btn btn-icon btn-outline"
        aria-label="cancel-edit-company"
      >
        Änderungen verwerfen
        <cds-icon shape="floppy"></cds-icon>
      </button>
      <button
        (click)="saveChanges()"
        [disabled]="form?.form?.invalid"
        type="button"
        class="btn btn-icon btn-success"
        aria-label="save-company"
      >
        Änderungen speichern
        <cds-icon shape="floppy"></cds-icon>
      </button>
    </div>
  </div>

  <main>
    <form #form="ngForm" clrForm clrLayout="horizontal">
      <h3>Firmendaten</h3>
      <app-autofield [field]="fields.name" [(entity)]="entity"></app-autofield>
    </form>
    <div cds-layout="m-t:xl">
      <clr-tabs>
        <clr-tab>
          <button clrTabLink>Adresse</button>
          <clr-tab-content *clrIfActive="true">
            <ng-container
              cds-layout="horizontal"
              *ngFor="let address of entity.addresses"
            >
              <app-address [address]="address"></app-address>
              <button
                cds-layout="m-t:md"
                (click)="deleteItem(address)"
                type="button"
                class="btn btn-danger"
                aria-label="add-address"
              >
                <cds-icon shape="trash"></cds-icon>
              </button>
            </ng-container>

            <button
              cds-layout="m-t:md"
              (click)="createRelationItem('addresses')"
              type="button"
              class="btn btn-outline"
              aria-label="add-address"
            >
              Adresse hinzufügen
            </button>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Kontaktdetails</button>
          <clr-tab-content *clrIfActive>
            <p cds-text="body" cds-layout="m-t:md">TODO</p>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Zahlungsinformationen</button>
          <clr-tab-content *clrIfActive>
            <p cds-text="body" cds-layout="m-t:md">TODO</p>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Konditionen</button>
          <clr-tab-content *clrIfActive>
            <p cds-text="body" cds-layout="m-t:md">TODO</p>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Weiteres</button>
          <clr-tab-content *clrIfActive>
            <p cds-text="body" cds-layout="m-t:md">TODO</p>
          </clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div>
  </main>
</ng-container>
