<div cds-layout="horizontal gap:md align:left">
  <h1>Kundenübersicht</h1>

  <button [routerLink]="['/customers', 'new', 'edit']"
    cds-layout="align:right align:vertical-center"
    type="button"
    class="btn btn-icon btn-primary"
    aria-label="add-customer"
  >
    Kunden hinzufügen
    <cds-icon shape="plus"></cds-icon>
  </button>
</div>

<main>
  <clr-datagrid>
    <clr-dg-column style="width: 20px">ID</clr-dg-column>
    <clr-dg-column [clrDgField]="'firstname'">Vorname</clr-dg-column>
    <clr-dg-column [clrDgField]="'lastname'">Nachname</clr-dg-column>
    <clr-dg-column [clrDgField]="'createdAt'" [(clrDgSortOrder)]="sortOrder"
      >Erstellt am</clr-dg-column
    >

    <clr-dg-row
      *clrDgItems="let customer of customers"
      [clrDgItem]="customer"
      (click)="openCustomer(customer.id)"
    >
      <clr-dg-cell style="width: 20px"
        ><clr-tooltip>
          <cds-icon
            clrTooltipTrigger
            shape="id-badge"
            size="18"
            (click)="copyCustomerId(customer.id)"
          ></cds-icon>
          <clr-tooltip-content [clrSize]="'md'">
            {{ customer.id }}
          </clr-tooltip-content>
        </clr-tooltip></clr-dg-cell
      >
      <clr-dg-cell>{{ customer.firstname }}</clr-dg-cell>
      <clr-dg-cell>{{ customer.lastname }}</clr-dg-cell>
      <clr-dg-cell>{{ customer.createdAt | date : "short" }} Uhr</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{ customers.length }} users</clr-dg-footer>
  </clr-datagrid>
</main>

